{
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "bracketSameLine": true,
  "singleQuote": false,
  "tabWidth": 4,
  "useTabs": false,
  "trailingComma": "es5"
}
